<p-cust-progress-spiner [blockedPage]="progressShow" [visible]="progressShow"></p-cust-progress-spiner>
<!-- <p-toast [style]="{marginTop: '80px'}" [autoZIndex]="true" position="center" life="2000" [modal]="true"></p-toast> -->
<p-toast position="top-right"></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-panel header="Master Barang" [toggleable]="true">
  <form [formGroup]="userform" (ngSubmit)="addBarang(userform.value)">
    <p-panel header="Input Barang">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Pcode *:
          </div>
          <div class="ui-grid-col-6">
            <input id="pcode" pInputText type="text" formControlName="pcode" placeholder="Required"
              [(ngModel)]="pcode" />
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" text="pcode is required"
              *ngIf="!userform.controls['pcode'].valid&&userform.controls['pcode'].dirty"></p-message>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Pcode Name *:
          </div>
          <div class="ui-grid-col-6">
            <input id="pcode_name" pInputText type="text" formControlName="pcode_name" placeholder="Required"
              [(ngModel)]="pcode_name" />
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" text="pcode_name is required"
              *ngIf="!userform.controls['pcode_name'].valid&&userform.controls['pcode_name'].dirty"></p-message>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Price *:
          </div>
          <div class="ui-grid-col-6">
            <input id="price" pInputText type="number" formControlName="price" placeholder="Required"
              [(ngModel)]="price" />
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" text="price is required"
              *ngIf="!userform.controls['price'].valid&&userform.controls['price'].dirty"></p-message>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Stock *:
          </div>
          <div class="ui-grid-col-6">
            <input id="stock" pInputText minValue="0" decimalPlaces="0" type="number" formControlName="stock"
              placeholder="Required" [(ngModel)]="stock" />
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" text="stock is required"
              *ngIf="!userform.controls['stock'].valid&&userform.controls['stock'].dirty"></p-message>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2"></div>
          <div class="ui-grid-col-6">
            <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>
      </div>
    </p-panel>
  </form>
  <div class="ui-g ui-fluid">
    <div class="ui-g-5">
      <!-- <p-panel header="Input Barang" [toggleable]="true">
        <div class="ui-g ui-fluid">
          <div class="ui-g-3">
            Pcode :
          </div>
          <div class="ui-g-9">
            <span class="ui-float-label">
              <input id="input" type="text" size="30" pInputText [(ngModel)]="pcode" required>
            </span>
          </div>
          <div class="ui-g-3">
            Name :
          </div>
          <div class="ui-g-9">
            <span class="ui-float-label">
              <input id="input" type="text" size="30" pInputText [(ngModel)]="pcode_name" required>
            </span>
          </div>
          <div class="ui-g-3">
            Price :
          </div>
          <div class="ui-g-9">
            <span class="ui-float-label">
              <input id="input" type="text" size="30" pInputText [(ngModel)]="price" required>
            </span>
          </div>
          <div class="ui-g-3">
            Stock :
          </div>
          <div class="ui-g-9">
            <span class="ui-float-label">
              <input id="input" type="text" size="30" pInputText [(ngModel)]="stock" required>
            </span>
          </div>
          <div class="ui-g-6">
            <button pButton type="submit" label="Add Barang" (click)="addBarang()"></button>
          </div>
          <div class="ui-g-6">
            <button pButton type="button" ng-click="reset()" value="Reset" label="Clear"
              class="ui-button-secondary"></button>
          </div>

        </div>
      </p-panel> -->
    </div>
    <div class="ui-g-12">
      <p-panel header="Data Barang" [toggleable]="true">
        <div class="ui-g ui-fluid">
          <wj-flex-grid #flexGrid [itemsSource]="dataBarang">
            <wj-flex-grid-filter #Filter></wj-flex-grid-filter>
            <ng-template wjFlexGridCellTemplate [cellType]="'RowHeader'" let-cell="cell">
              {{cell.row.index + 1}}
            </ng-template>

            <wj-flex-grid-column header="Pcode " binding="pcode" [width]="100" [isReadOnly]="true">
            </wj-flex-grid-column>
            <wj-flex-grid-column header="Pcode Name" binding="pcode_name" [width]="300"></wj-flex-grid-column>
            <wj-flex-grid-column header="Price" binding="price" [dataType]="'Number'" [width]="300">
            </wj-flex-grid-column>
            <wj-flex-grid-column header="Stock" binding="stock" [dataType]="'Number'" [width]="300">
            </wj-flex-grid-column>
            <wj-flex-grid-column header="Action" [width]="205" [isReadOnly]="true">
              <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                <button pButton type="button" icon="ui-icon-update" class="blue-btn"
                  (click)="updateData(cell.item.stock)"></button>
                &nbsp;
                <button icon="ui-icon-delete" class="red-btn" pButton type="button"
                  (click)="deleteBarang(cell.item.pcode, cell.item.stock)"></button>
              </ng-template>
            </wj-flex-grid-column>
          </wj-flex-grid>
          <wj-input-number #theInputNumber format="n0" [step]="1" [min]="0" [max]="10000">
          </wj-input-number>
        </div>
        <div class="ui-g ui-fluid">
          <div class="ui-g-6">
            <button pButton type="button" label="Save" (click)="updateData()"></button>
          </div>
          <div class="ui-g-6">
            <button pButton type="button" label="Clear" class="ui-button-secondary"></button>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</p-panel>